body {
    background-image: url(../assest/images/comic-backgroud.jpg);
    font-family: 'Bangers', cursive !important;
    font-size: 50px !important;
}

h1 {
    text-align: center;
    font-size: 200% !important;
    color: #e91c28 !important;
    
}


.outline {
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

#start {
    text-align: center;
}

.gamebutton{
    margin-top: 10%;
    margin-bottom: 10% !important;
    margin-left: 40%;
    padding-left: 10px;
    padding-right: 10px;
    color: #e91c28;
    border: black solid 5px;
    background: #01aced;
    
    ;
}




.maincontent {
    text-align: center;
    
    color: #e91c28 !important;
}

.main {
    margin-top: 5%;
    background: #f6efc2;
    height: auto;
    border: solid #13123b 8px;
}

footer {
    background: #f6efc2 !important;
    border-top: solid #13123b  5px !important;
    text-align: center;
    color: #e91c28 !important;
}